<!DOCTYPE html>
<html lang="en" dir="ltr"
style="min-width: 100%; min-height: 100%;">
  <head>
    <meta charset="utf-8">
    <title>EarWorm</title>
    <!-- STYLESHEETS -->
    <span>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="/stylesheets/bootstrap.css">
      <link rel="stylesheet" href="/stylesheets/modal.css">
      <link rel="stylesheet" href="/stylesheets/fonts.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </span>
    <!-- SCRIPTS -->
    <span>
      <!-- #include Angular -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <!-- #include Angular ui.router -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
      <!-- #include jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"></script>
      <!-- #include Bootstrap -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!-- #include BootBox -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
      <!-- #include user_code -->
      <script src="/javascripts/app.js"></script>
      <script src="/javascripts/controllers/mainController.js"></script>
      <script src="/javascripts/controllers/postController.js"></script>
      <script src="/javascripts/controllers/userController.js"></script>
      <script src="/javascripts/controllers/authController.js"></script>
      <script src="/javascripts/controllers/navController.js"></script>
      <script src="/javascripts/services/postService.js"></script>
      <script src="/javascripts/services/userService.js"></script>
      <script src="/javascripts/services/authService.js"></script>
    </span>
  <!--  <script src="/javascripts/angularStyle.js"></script> -->
  </head>

  <body ng-app="EarWorm" style="background: linear-gradient(180deg, white, lightgray); font-family: SourceSansPro" class="image">
    <!-- Navigation bar with user profile + auth controls -->
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a href="/#/users/{{currentUser().username}}">{{currentUser().username}}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav>
    <!-- Main view -->
    <div class="row" style="overflow: auto">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
  <!-- TEMPLATES -->

  <!-- Home -->
  <script type="text/ng-template" id="/home.html">
    <!-- Logo -->
    <div class="page-header">
      <a href="#/home.html"><img src="/images/logo.png" style = "width: 50%;"></a>
    </div>
    <!-- Log In / Register -->
    <div ng-hide="isLoggedIn()" style="text-align: center">
      <h3>We'd love to hear what you're listening to.</br>
        <a href="/#/login">Log In</a> or <a href="/#/register">Register</a>
        to tell the world.
      </h3>
    </div>

    <!-- Add Post -->
    <form ng-controller="NavCtrl" ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top: 30px;">
      <h3 style="text-align: center;"></h3><br>
      <button type="submit" class="btn btn-primary postbtn"
        style="display: block; margin: 0 auto; width: 50%; padding: 10px; outline-width: 0px;
        background-color: #f0f5f1; color: black; border-radius: 5px; border: 1px solid black;" >
        What are you listening to, {{currentUser().username}}?
      </button>
    </form><br><br><br>

    <!-- Sort Posts -->
    <div ng-show="posts.length > 0">
      <div style="float: left;">
        <span>Sort by: </span>
        <select id="sortPost" style="margin-left: 5px;">
          <option value="new" selected="selected">New</option>
          <option value="upvotes">Upvotes</option>
          <option value="comments">Comments</option>
        </select>
      </div>
      <div style="float: right;">
        <span>Search: </span>
        <input id="postSearch"></input>
      </div>
    </div>
    <br>
    <!-- Posts -->
    <div ng-repeat="post in posts | filter: postSearch | orderBy: sortedBy"
    style="position: relative; background-color: #e4ede6; border: 1px solid black;
    padding: 20px; margin-top: 20px; border-radius: 5px">
      <!-- Post Control -->
      <div style="position: absolute; top: 5px; right: 5px;">
        <!-- Edit Comment -->
        <span class="glyphicon glyphicon-edit"
        ng-show="authoredPost(post)" ng-click="editPost(post)"></span>
        <!-- Delete Post -->
        <span class="glyphicon glyphicon-remove"
        ng-show="authoredPost(post)" ng-click="deletePost(post)"></span>
      </div>
      <span class="glyphicon glyphicon-volume-up"
      style="position: absolute; top: 20px; left: 20px; font-size: 20px;"></span>
      <!-- Author + Title + Artist -->
      <div style="float: left; margin-left: 30px; font-size: 20px; position: relative">
        <a href="#/users/{{post.author}}" style="color:black">{{post.author}}</a>
        is listening to <b class="bold">{{post.song.title}}</b> - <i class="italic">{{post.song.artist}}</i>
      </div>
      <br><br>
      <!-- Caption -->
      <span style="font-size: 15px; position: relative; margin-left: 45px">{{post.caption}}</span>
      <br>
      <!-- Media -->
      <span style="float: right">
        <!-- Upvote Button -->
        <span ng-show="isLoggedIn()" class="glyphicon glyphicon-thumbs-up" ng-click="upvotePost(post)"></span>
        <span style="cursor: not-allowed" ng-hide="isLoggedIn()"
        class="glyphicon glyphicon-thumbs-up" ng-click="upvotePost(post)"></span>
        <!-- Upvote Count -->
        <span ng-show="upvotedPost(post)" class="bold">{{post.upvotes.length}}</span>
        <span ng-hide="upvotedPost(post)">{{post.upvotes.length}}</span>
        <!-- Link to Post -->
        <a href="#/posts/{{post._id}}">
          <span style="margin-left: 5px; filter: grayscale(100%)" class="glyphicon glyphicon-comment"></span>
        </a>
        {{post.comments.length}} | posted {{timeSince(post.createdAt)}} ago
      </span>
    </div>
    <!-- Footer Padding -->
    <div style="height: 5%; padding: 5%"></div>
  </script>

  <!-- Post -->
  <script type="text/ng-template" id="/posts.html">
    <!-- Logo -->
    <div class="page-header">
      <a href="#/home"><img src="/images/logo.png" style = "width: 50%;"></a>
    </div>
    <!-- Post Info -->
    <div>
    <div>
      <!-- Title + Artist -->
      <h2 style="text-align: center;">
        <b class="bold">{{post.song.title}}</b> - <i class="italic">{{post.song.artist}}</i>
      </h2><br>
      <!-- Upvote + Caption -->
      <h4 style="text-align: center; background-color: #e4ede6; border-radius: 5px;
      border: 1px solid black; padding: 20px; position: relative;">
        <div style="position: absolute; left: -45px; top: 50%; margin-top: -10px;">
          <!-- Upvote Button -->
          <span ng-show="isLoggedIn()"
          class="glyphicon glyphicon-thumbs-up" ng-click="upvotePost(post)"></span>
          <span style="cursor: not-allowed" ng-hide="isLoggedIn()"
          class="glyphicon glyphicon-thumbs-up" ng-click="upvotePost(post)"></span>
          <!-- Upvote Count -->
          <span ng-show="upvotedPost(post)" class="bold">{{post.upvotes.length}}</span>
          <span ng-hide="upvotedPost(post)">{{post.upvotes.length}}</span>
        </div>
        {{post.caption}}
      </h4>
      <!-- Author + Timestamp -->
      <h4 style="padding-top: 10px; text-align: right;">
      posted {{timeSince(post.createdAt)}} ago by
      <a style='color: black' href='#/users/{{post.author}}'>{{post.author}}</a>
      </h4>
    </div>
    <!-- Break -->
    <hr style="border: 1px solid lightgray;">
    <!-- Add Comment -->
    <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top: 30px;">
      <h3>Thoughts?</h3>
      <!-- Comment Body -->
      <div class="form-group" style="position: relative;">
        <textarea type="text" class="form-control" style="width: 50%; resize: none;"
         rows=3 ng-model="body" required></textarea>
        <button type="submit" style="position: absolute; height: 33px; background-color: #edf2ef; color: black;
        top: 50%; margin-top:-16px; left:-65px; border: 1px solid black;" class="btn btn-primary">Post</button>
      </div>
      <!-- Submit Comment -->
    </form>
    <!-- First Comment Text -->
    <h3 ng-show="post.comments.length === 0">Be the first to comment.</h3>
    <!-- Sort Comments -->
    <br>
    <div ng-show="post.comments.length > 0">
      <span>Sort by: </span>
      <select id="sortComment" style="margin-left: 5px;">
        <option value="new" selected="selected">New</option>
        <option value="old">Old</option>
        <option value="upvotes">Upvotes</option>
      </select>
    </div>
    <!-- Comments -->
    <h3 ng-show="post.comments.length !== 0">Comments: {{post.comments.length}}</h3>
    <div ng-repeat="comment in post.comments | orderBy: sortedBy"
      style="background-color: #edf2ef; border: 1px solid black; width: 50%;
      padding: 25px; margin-top: 20px; border-radius: 5px; position: relative;">
      <div>
        <!-- Comment Control -->
        <div style="float: right; margin: -15px -15px 0 0;">
          <!-- Edit Comment -->
          <span class="glyphicon glyphicon-edit"
          ng-click="editComment(post, comment)" ng-show="authoredComment(comment)"></span>
          <!-- Delete Comment -->
          <span class="glyphicon glyphicon-remove"
          ng-click="deleteComment(comment)" ng-show="authoredComment(comment)"></span>
        </div>
      </div>
      <!-- Upvote Button -->
      <div style="position: absolute; left: -40px; top: 50%; margin-top: -10px;">
        <span style="cursor: pointer" ng-show="isLoggedIn()"
        class="glyphicon glyphicon-thumbs-up" ng-click="upvoteComment(comment)"></span>
        <span style="cursor: not-allowed" ng-hide="isLoggedIn()"
        class="glyphicon glyphicon-thumbs-up" ng-click="upvoteComment(comment)"></span>
        <!-- Upvote Count -->
        <span ng-show="upvotedComment(comment)" class="bold">{{comment.upvotes.length}}</span>
        <span ng-hide="upvotedComment(comment)">{{comment.upvotes.length}}</span>
      </div>
      <!-- Comment Body -->
      <span style="font-size:20px; word-wrap: break-word">{{comment.body}}</span>
      <!-- Comment Timestamp -->
      <span style="position: absolute; bottom: -5px; right: 5px">
        <h6>posted {{timeSince(comment.createdAt)}} ago by
        <a style='color: black' href='#/users/{{comment.author}}'>{{comment.author}}</a>
        </h6>
      </span>

      </div>
    </div>
      <!-- Log In / Register to comment -->
      <div ng-hide="isLoggedIn()" text-align="center">
        <h3><a href="/#/login">Log In</a> or <a href="/#/register">Register</a>
          to share your thoughts.
        </h3>
    </div>
    <!-- Footer Padding -->
    <div style="height: 5%; padding: 5%"></div>
  </script>

  <!-- User -->
  <script type="text/ng-template" id="/users.html">
    <!-- Logo -->
    <div class="page-header">
      <a href="#/home"><img src="/images/logo.png" style = "width: 50%"></a>
    </div>
    <!-- User Info -->
    <div style="margin-top: 50px; text-align: center;">
      <!-- Follow/Unfollow -->
      <div ng-hide="isUser()">
        <!-- Follow Button -->
        <div style="border-radius: 5px; background-color: #f0f5f1; border: 1px solid black;
        cursor: pointer; width: 200px; display: inline-block; padding: 2.5px;"
        ng-hide="followingProfile()" ng-click="followUser()">
          <h4>Follow<h4>
        </div>
        <!-- Unfollow Button -->
        <div style="border-radius: 5px; background-color: #e8ebe9; border: 1px solid black;
        cursor: pointer; width: 200px; display: inline-block; padding: 2.5px;"
        ng-show="followingProfile()" ng-click="followUser()">
          <h4>Following<h4>
        </div>
        <br><br>
      </div>
      <!-- Profile Picture -->
      <img id="profilePicture" style="border-radius: 50%; width: 200px; height: 200px;
      border: 1px solid black;" ng-src="{{profile.image}}"
      onerror="document.getElementById('profilePicture').src='images/defaultuser.png'">
      <!-- Username -->
      <span><h2>{{profile.username}} </h2></span>
      <br>
      <!-- Favorites -->
      <div style="width: 75%; display: inline-block; font-size: 20px;" ng-hide="editing">
        <!-- Following + Followers -->
        <p style="margin-top: -10px;">
          <span class="italic" style="float: left; display: inline-block;">
            Following:
            <span style='cursor:pointer' ng-click="showFollowing()">
              {{profile.following.length}}
            </span>
          </span>
          <span class="italic" style="float: right; display: inline-block;">
            Followers:
            <span style='cursor:pointer' ng-click="showFollowers()">
              {{profile.followers.length}}
            </span>
          </span>
        </p>
        <br><br>
        <!-- Bio -->
        <h3 class="italic">"{{profile.bio}}"</h3>
        <br>
        <!-- Favorite Song -->
        <p>
          <span class="bolditalic" style="float: left; display: inline-block;">Favorite song:</span>
          <span class="italic" style="float: right; display: inline-block;">{{profile.favSong}}</span>
        </p>
        <br>
        <!-- Favorite Artist -->
        <p>
          <span class="bolditalic" style="float: left; display: inline-block;">Favorite artist:</span>
          <span class="italic" style="float: right; display: inline-block;">{{profile.favArtist}}</span>
        </p>
        <br><br>
        <button style="display: inline-block;" ng-click="startEditing(profile)"
        ng-show="isUser()">Edit Profile</button>
      </div>

      <div style="width: 75%; display: inline-block; font-size: 20px;" ng-show="editing">
        <form>
          <p>
            <span class="bolditalic" style="float: left;">Image URL:</span>
            <input class="italic" style="float: right;" type="text"
            placeholder="Image URL" id="editImage"></input>
          </p>
          <br><br>
          <p>
            <span class="bolditalic" style="float: left;">Bio:</span>
            <textarea class="italic" style="float: right; resize: none;" type="text"
             value="{{profile.bio}}" placeholder="Bio" id="editBio" rows="2"></textarea>
          </p>
          <br><br><br>
          <p>
            <span class="bolditalic" style="float: left;">Favorite song:</span>
            <input class="italic" style="float: right;" type="text" value="{{profile.favSong}}"
            placeholder="Favorite Song" id="editSong"></input>
          </p>
          <br>
          <p>
            <span class="bolditalic" style="float: left;">Favorite artist:</span>
            <input class="italic" style="float: right;" type="text" value="{{profile.favArtist}}"
            placeholder="Favorite Artist" id="editArtist"></input>
          </p>
          <br><br>
          <button style="display: inline-block; margin-right: 5px;" ng-click="cancelEdit()"
          ng-show="isUser()">Cancel</button>
          <button style="display: inline-block; margin-left: 5px" ng-click="saveEdit(profile)"
          ng-show="isUser()">Save</button>
      </div>
    </div>
    <!-- Footer Padding -->
    <div style="height: 5%; padding: 5%"></div>
  </script>

  <!-- Register -->
  <script type="text/ng-template" id="/register.html">
    <!-- Logo -->
    <div class="page-header" style="text-align: center;">
      <a href="#/home"><img src="/images/logo.png" style = "width: 50%;"></a>
    </div>
    <!-- Error Message -->
    <div ng-show="error" class="alert-danger row">
      <span>{{error.message}}</span>
    </div>
    <!-- Register Form -->
    <form ng-submit="register()" style="margin-top:30px; text-align: center">
      <h3 class="bold">Create a New Account</h3></br>
      <!-- Login --->
      <a href="#/login"><h5 style-"text-align: center;">Already have an account?</h5></a>
      <!-- Username -->
      <div class="form-group">
        <input type="text" class="form-control userform"
        placeholder="Username" ng-model="user.username"></input>
      </div>
      <!-- Password -->
      <div class="form-group">
        <input type="password" class="form-control userform"
        placeholder="Password" ng-model="user.password"></input>
      </div>
      <!-- Submit -->
      <button style="padding-left: 20px; padding-right: 20px;
      border-color: black; background-color: #1DB954"
      type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>

  <!-- Log In -->
  <script type="text/ng-template" id="/login.html">
    <!-- Logo -->
    <div class="page-header" style="text-align: center;">
      <a href="#/home"><img src="/images/logo.png" style = "width: 50%"></a>
    </div>
    <!-- Error Message -->
    <div ng-show="error" class="alert-danger row">
      <span>{{ error.message }}</span>
    </div>
    <!-- Log In Form -->
    <form ng-submit="logIn()" style="margin-top:30px; text-align: center;">
      <h3 class="bold">Log in to EarWorm</h3><br>
      <!-- Register --->
      <a href="#/register"><h5 style-"text-align: center;">Don't have an account yet?</h5></a>
      <!-- Username -->
      <div class="form-group">
        <input type="text" class="form-control userform"
        placeholder="Username" ng-model="user.username"></input>
      </div>
      <!-- Password -->
      <div class="form-group">
        <input type="password" class="form-control userform"
        placeholder="Password" ng-model="user.password"></input>
      </div>
      <!-- Submit -->
      <button style="padding-left: 20px; padding-right: 20px;
      border-color: black; background-color: #1DB954"
      type="submit" class="btn btn-primary">Log In</button>
    </form>
  </script>

  </body>
</html>
