<!DOCTYPE html>
<html lang="en" dir="ltr"
style="min-width: 100%; min-height: 100%;">
  <head>
    <meta charset="utf-8">
    <title>EarWorm</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="/stylesheets/fontstyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>

    <script src="/javascripts/angularApp.js"></script>
  <!--  <script src="/javascripts/angularStyle.js"></script> -->
    <style>.glyphicon-thumbs-up, .glyphicon-edit, .glyphicon-remove {cursor: pointer}
           .glyphicon-remove, .glyphicon-edit {opacity: 0.2}
           .glyphicon-remove:hover, .glyphicon-edit:hover {opacity: 0.5}
           .postbtn {opacity: 0.75}
           .postbtn:hover {opacity: 1}
           .userform {width: 50%; display: block; margin: 0 auto;}
           .bold {font-family: SourceSansPro-Bold}
           .italic {font-family: SourceSansPro-Italic}</style>
  </head>

  <body ng-app="EarWorm" style="background: linear-gradient(180deg, white, lightgray); font-family: SourceSansPro" class="image">

    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{currentUser().username}}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav>

    <div class="row" style="overflow: auto">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>


  <!-- TEMPLATES -->

  <!-- Template - Home -->
  <script type="text/ng-template" id="/home.html">
    <!-- Logo -->
    <div class="page-header">
      <a href="#/home.html"><img src="/images/logo.png" style = "width: 50%;"></a>
    </div>
    <!-- Log In / Register -->
    <div ng-hide="isLoggedIn()" style="text-align: center">
      <h3>We'd love to hear what you're listening to.</br>
        <a href="/#/login">Log In</a> or <a href="/#/register">Register</a>
        to tell the world.
      </h3>
    </div>

    <!-- Add Post -->
    <form ng-controller="NavCtrl" ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top: 30px;">
      <h3 style="text-align: center;"></h3><br>
      <button type="submit" class="btn btn-primary postbtn"
        style="display: block; margin: 0 auto; width: 50%; padding: 10px; outline-width: 0px;
        background-color: #f0f5f1; color: black; border-radius: 5px; border: 1px solid black;" >
        What are you listening to, {{currentUser().username}}?
      </button>
    </form><br><br><br>

    <!-- Sort Posts -->
    <div>
      <span>Sort by: </span>
      <select id="sortPost" style="margin-left: 5px;">
        <option value="new" selected="selected">New</option>
        <option value="upvotes">Upvotes</option>
        <option value="comments">Comments</option>
      </select>
    </div>
    <!-- Posts -->
    <div ng-repeat="post in posts | orderBy: sortedBy"
    style="background-color: #e4ede6; border: 1px solid black; padding: 20px; margin-top: 20px; border-radius: 5px">
      <!-- Post Control -->
      <div style="float: right; margin: -10px -10px 0 0;">
        <!-- Edit Comment -->
        <span class="glyphicon glyphicon-edit"
        ng-show="authoredPost(post)" ng-click="editPost(post)"></span>
        <!-- Delete Post -->
        <span class="glyphicon glyphicon-remove"
        ng-show="authoredPost(post)" ng-click="deletePost(post)"></span>
      </div>
      <!-- Author + Title + Artist -->
      <span style="font-size: 20px; font-color: lightgray; float: left">
      <span class="glyphicon glyphicon-volume-up"></span>
      <a href="#/user/{{user._id}}" style="color:black">{{post.author}}</a>
       is listening to <b class="bold">{{post.song.title}}</b> - <i class="italic">{{post.song.artist}}</i></span>
      <br/><br/>
      <!-- Caption -->
      <span style="font-size: 15px; margin-left: 20px">{{post.caption}}</span>
      <br/>
      <!-- Media -->
      <span style="float: right">
        <!-- Upvote Button -->
        <span ng-show="isLoggedIn()" class="glyphicon glyphicon-thumbs-up" ng-click="upvotePost(post)"></span>
        <span style="cursor: not-allowed" ng-hide="isLoggedIn()"
        class="glyphicon glyphicon-thumbs-up" ng-click="upvotePost(post)"></span>
        <!-- Upvote Count -->
        <span ng-show="upvotedPost(post)" class="bold"><b>{{post.upvotes.length}}</b></span>
        <span ng-hide="upvotedPost(post)">{{post.upvotes.length}}</span>
        <!-- Link to Post -->
        <a href="#/posts/{{post._id}}">
          <span style="margin-left: 5px; filter: grayscale(100%)" class="glyphicon glyphicon-comment"></span>
        </a>
        {{post.comments.length}} | posted {{timeSince(post.createdAt)}} ago
      </span>
    </div>
    <!-- Footer Padding -->
    <div style="height: 5%; padding: 5%"></div>
  </script>

  <!-- Template - Post -->
  <script type="text/ng-template" id="/posts.html">
    <!-- Logo -->
    <div class="page-header">
      <a href="#/home"><img src="/images/logo.png" style = "width: 33%"></a>
    </div>
    <!-- Post Info -->
    <div>
    <div>
      <!-- Title + Artist -->
      <h2 style="text-align: center;">
        <b class="bold">{{post.song.title}}</b> - <i class="italic">{{post.song.artist}}</i>
      </h2><br>
      <!-- Upvote + Caption -->
      <h4 style="text-align: center; background-color: #e4ede6; border-radius: 5px;
      border: 1px solid black; padding: 20px; position: relative;">
        <div style="position: absolute; left: -45px; top: 50%; margin-top: -10px;">
          <!-- Upvote Button -->
          <span ng-show="isLoggedIn()"
          class="glyphicon glyphicon-thumbs-up" ng-click="upvotePost(post)"></span>
          <span style="cursor: not-allowed" ng-hide="isLoggedIn()"
          class="glyphicon glyphicon-thumbs-up" ng-click="upvotePost(post)"></span>
          <!-- Upvote Count -->
          <span ng-show="upvotedPost(post)">
            <b>{{post.upvotes.length}}</b></span>
          <span ng-hide="upvotedPost(post)">
            {{post.upvotes.length}}</span>
        </div>
        {{post.caption}}
      </h4>
      <!-- Author + Timestamp -->
      <h4 style="padding-top: 10px; text-align: right;">
      posted {{timeSince(post.createdAt)}} ago by {{post.author}}</h4>
    </div>
    <!-- Break -->
    <hr style="border: 1px solid lightgray;">
    <!-- Add Comment -->
    <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top: 30px;">
      <h3>Thoughts?</h3>
      <!-- Comment Body -->
      <div class="form-group" style="position: relative;">
        <textarea type="text" class="form-control" style="width: 50%;" rows=3
        ng-model="body" required></textarea>
        <button type="submit" style="position: absolute; height: 33px; background-color: #edf2ef; color: black;
        top: 50%; margin-top:-16px; left:-65px; border: 1px solid black;" class="btn btn-primary">Post</button>
      </div>
      <!-- Submit Comment -->
    </form>
    <!-- First Comment Text -->
    <h3 ng-show="post.comments.length === 0">Be the first to comment.</h3>
    <!-- Sort Comments -->
    <br>
    <div>
      <span>Sort by: </span>
      <select id="sortComment" style="margin-left: 5px;">
        <option value="new" selected="selected">New</option>
        <option value="old">Old</option>
        <option value="upvotes">Upvotes</option>
      </select>
    </div>
    <!-- Comments -->
    <h3 ng-show="post.comments.length !== 0">Comments: {{post.comments.length}}</h3>
    <div ng-repeat="comment in post.comments | orderBy: sortedBy"
      style="background-color: #edf2ef; border: 1px solid black; width: 50%;
      padding: 25px; margin-top: 20px; border-radius: 5px; position: relative;">
      <div>
        <!-- Comment Control -->
        <div style="float: right; margin: -15px -15px 0 0;">
          <!-- Edit Comment -->
          <span class="glyphicon glyphicon-edit"
          ng-click="editComment(post, comment)" ng-show="authoredComment(comment)"></span>
          <!-- Delete Comment -->
          <span class="glyphicon glyphicon-remove"
          ng-click="deleteComment(comment)" ng-show="authoredComment(comment)"></span>
        </div>
      </div>
      <!-- Upvote Button -->
      <div style="position: absolute; left: -40px; top: 50%; margin-top: -10px;">
        <span style="cursor: pointer" ng-show="isLoggedIn()"
        class="glyphicon glyphicon-thumbs-up" ng-click="upvoteComment(comment)"></span>
        <span style="cursor: not-allowed" ng-hide="isLoggedIn()"
        class="glyphicon glyphicon-thumbs-up" ng-click="upvoteComment(comment)"></span>
        <!-- Upvote Count -->
        <span ng-show="upvotedComment(comment)" class="bold"><b>{{comment.upvotes.length}}</b></span>
        <span ng-hide="upvotedComment(comment)">{{comment.upvotes.length}}</span>
      </div>
      <!-- Comment Body -->
      <span style="font-size:20px; word-wrap: break-word">{{comment.body}}</span>
      <!-- Comment Timestamp -->
      <span style="position: absolute; bottom: -5px; right: 5px">
        <h6>posted {{timeSince(comment.createdAt)}} ago by {{comment.author}}</h6>
      </span>

      </div>
    </div>
      <!-- Log In / Register to comment -->
      <div ng-hide="isLoggedIn()" text-align="center">
        <h3><a href="/#/login">Log In</a> or <a href="/#/register">Register</a>
          to share your thoughts.
        </h3>
    </div>
    <!-- Footer Padding -->
    <div style="height: 5%; padding: 5%"></div>
  </script>

    <!-- Template - Register -->
  <script type="text/ng-template" id="/register.html">
    <!-- Logo -->
    <div class="page-header" style="text-align: center;">
      <a href="#/home"><img src="/images/logo.png" style = "width: 33%"></a>
    </div>
    <!-- Error Message -->
    <div ng-show="error" class="alert-danger row">
      <span>{{error.message}}</span>
    </div>
    <!-- Register Form -->
    <form ng-submit="register()" style="margin-top:30px; text-align: center">
      <h3 class="bold"><b>Create a New Account</b></h3></br>
      <!-- Login --->
      <a href="#/login"><h5 style-"text-align: center;">Already have an account?</h5></a>
      <!-- Username -->
      <div class="form-group">
        <input type="text" class="form-control userform"
        placeholder="Username" ng-model="user.username"></input>
      </div>
      <!-- Password -->
      <div class="form-group">
        <input type="password" class="form-control userform"
        placeholder="Password" ng-model="user.password"></input>
      </div>
      <!-- Submit -->
      <button style="padding-left: 20px; padding-right: 20px;
      border-color: black; background-color: #1DB954"
      type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>

  <!-- Template - Log In -->
  <script type="text/ng-template" id="/login.html">
    <!-- Logo -->
    <div class="page-header" style="text-align: center;">
      <a href="#/home"><img src="/images/logo.png" style = "width: 33%"></a>
    </div>
    <!-- Error Message -->
    <div ng-show="error" class="alert-danger row">
      <span>{{ error.message }}</span>
    </div>
    <!-- Log In Form -->
    <form ng-submit="logIn()" style="margin-top:30px; text-align: center;">
      <h3 class="bold"><b>Log in to EarWorm</b></h3><br/>
      <!-- Register --->
      <a href="#/register"><h5 style-"text-align: center;">Don't have an account yet?</h5></a>
      <!-- Username -->
      <div class="form-group">
        <input type="text" class="form-control userform"
        placeholder="Username" ng-model="user.username"></input>
      </div>
      <!-- Password -->
      <div class="form-group">
        <input type="password" class="form-control userform"
        placeholder="Password" ng-model="user.password"></input>
      </div>
      <!-- Submit -->
      <button style="padding-left: 20px; padding-right: 20px;
      border-color: black; background-color: #1DB954"
      type="submit" class="btn btn-primary">Log In</button>
    </form>
  </script>

  <script type="text/ng-template" id="/user.html">
    <!-- Logo -->
    <div class="page-header" style="text-align: center;">
      <a href="#/home"><img src="/images/logo.png" style = "width: 33%"></a>
    </div>
  </script>

  </body>
</html>
