.icon-box {
width: 80px;
height: 80px;
margin: 0 auto;
border-radius: 50%;
z-index: 9;
text-align: center;
border: 3px solid #f15e5e;
}
.icon-box i {
color: #f15e5e;
font-size: 46px;
display: inline-block;
margin-top: 13px;
}
.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix{border:none}
