.glyphicon-thumbs-up, .glyphicon-edit, .glyphicon-remove {
  cursor: pointer
}
.glyphicon-remove, .glyphicon-edit {
  opacity: 0.2
}
.glyphicon-remove:hover, .glyphicon-edit:hover {opacity: 0.5}
.postbtn {
  opacity: 0.75
}
.postbtn:hover {
  opacity: 1
}
.userform {
  width: 50%; display: block; margin: 0 auto;
}
.bold {
  font-family: SourceSansPro-Bold
}
.italic {
  font-family: SourceSansPro-Italic
}
.bolditalic {
  font-family: SourceSansPro-BoldItalic
}
